* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #444;
}

table th {
    text-align: left;
}
li {
	list-style-type: none;
}

.lh {
	border-bottom: 1px solid black;
}

li a {
	font-size: 13px;
	font-color: red;
	margin: 1px;
	font-style: 
}

body {
	width: 101%;
	background-color: #EEE;
}

#content , #menu , #footer, #header{
	border: 1px black solid;
	padding: 2%;
	background-color: white;
}

#header, #content_wrapper , #footer{
	margin: 10px 10%;
	
}

#header {
	height: 100px;
    width: 76%;
}

#content_wrapper {
	float: left;
    margin-bottom: 10px;
	height: 80%;
	min-height: 80%;
	width: 80%;
}

#content, #menu {
float: left;
}

#menu {
	width: 13%;
}
#content {
    padding: 2% 0 2% 2%;
    float: right;
	width: 77%;
	min-width: 77%;
	margin-left: 1%;
    height: 100%;
}

#sport_table {
    width: 100%;
    padding: 1%;
}

#sport_table td { 
    height:150px;
    width: 150px;
    padding: 1px;
    text-align: center;
    border: 1px dotted black;
}

.form_header {
   width: 80%;
   border-bottom: 1px solid black;
   margin-bottom: 10px;
}

.breakfloat {
	clear: both;
}
#footer {
    width: 76%;
    float: left;
    margin-top: 10px;
}

#datatable1 {
    width: 100%;
}

.datatable {
    margin-top: 20px;
    border: 1px black solid;
}
.datatable thead {
    background-color: #08E;
    border: 1px black solid;
}
.datatable td {
    padding: 1px;
}
.colored {
        background-color: #EEE;
}
